
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
	width: 100%;
    text-align: center;
}
  
h1 {
    font-size: 32px;
    margin-bottom: 10px;
}
  
p {
    font-size: 18px;
    margin-bottom: 20px;
}
  
form {
    margin-bottom: 20px;
}
  
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 200px;
}
  
input[type="submit"] {
    padding: 8px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
  
ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    margin-bottom: 10px;
}
  
a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 16px;
}
  
a:hover {
    text-decoration: underline;
}


  

.famous-locations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.famous-location {
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
}  
.famous-location {
    background-size: cover;
    background-position: center;
}

.min-temp {
	color: darkblue;
}

.max-temp {
	color: red;
}




.weather-card-now {
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.weather-card {
    padding: 20px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    margin-top: 110px;
}  
.weather-card h2 {
	margin-top: 0;
}

.weather-card p {
	margin-bottom: 5px;
}

.weather-card-the-day-after-tomorrow {
	padding: 20px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	height: 150px;
	align-self: center;
    margin-top: 110px;
}

h2.day-after-tomorrow {
    font-size: 15px;
}

.weather-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 100vh;
}

.status-img{
    width: 80px;
    height:auto;
    margin-right: 30px;
}

.weather-status-pic .temp-rn {
    font-size: 30px; 
}

.temp-rn{
    color: rgb(247, 137, 53);
}

.weather-status-pic {
    display: flex;
    align-items: center;
}

.weather-word{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 15px;
}






  

  