

.city-name {
    margin-top: 10px;
    width: 40px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 2;
    font-size: 30px;
    margin-left: 370px;
    margin-top: 95px;
}

.weather-card-now {
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative; 
}

.weather-card-tomorrow {
    margin: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.location-image {
    width: 40px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    margin-left: 370px;
    margin-top: 90px;
}

.weather-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 200px;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 4px;
}

.button:hover {
    background-color: #45a049;
}

 
.weather-card h2 {
	margin-top: 0;
}

.weather-card p {
	margin-bottom: 5px;
}

.weather-card-the-day-after-tomorrow {
	padding: 20px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	height: 150px;
	align-self: center;
}


 .weather-container {
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    max-width: 800px;
} 

.status-img{
    width: 80px;
    height:auto;
    margin-right: 30px;
}

.weather-status-pic .temp-rn {
    font-size: 30px; 
}

.temp-rn{
    color: rgb(247, 137, 53);
}

.weather-status-pic {
    display: flex;
    align-items: center;
}

.weather-word{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 15px;
}

.weather-humidity-wind {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.humidity-picture, .wind-picture {
    width: 30px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.weather-humidity-wind-values {
    display: flex;
    justify-content: center;
    align-items: center;
}

.humidity{
    margin-left: 20px;
    font-size: 20px;
}
.wind{
    margin-left: 70px;
    margin-right: 15px;
    font-size: 20px;
}

.temperature-container {
    text-align: center;
}

.min-temp {
    color: darkblue;
}

.max-temp {
    color: red;
}

.weather-card-now h2,
.weather-card-now h4,
.weather-card-today h2,
.weather-card-today h4,
.weather-card-tomorrow h2,
.weather-card-tomorrow h4 {
  text-align: center;
  margin: 0 auto;
}
