.weather-card-now {
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.weather-card-today, .weather-card-tomorrow {
    padding: 20px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 1;
    margin-top: 110px;
    width: 150px;
}  
.weather-card h2 {
	margin-top: 0;
}

.weather-card p {
	margin-bottom: 5px;
}

.weather-card-the-day-after-tomorrow {
	padding: 20px;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	height: 150px;
	align-self: center;
    margin-top: 110px;
}

h2.day-after-tomorrow {
    font-size: 15px;
}

.weather-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 100vh;
}

.status-img{
    width: 80px;
    height:auto;
    margin-right: 30px;
}

.weather-status-pic .temp-rn {
    font-size: 30px; 
}

.temp-rn{
    color: rgb(247, 137, 53);
}

.weather-status-pic {
    display: flex;
    align-items: center;
}

.weather-word{
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-top: 15px;
}

.weather-humidity-wind {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.humidity-picture, .wind-picture {
    width: 30px;
    height: auto;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.weather-humidity-wind-values {
    display: flex;
    justify-content: center;
    align-items: center;
}

.humidity{
    margin-left: 20px;
    font-size: 20px;
}
.wind{
    margin-left: 70px;
    margin-right: 15px;
    font-size: 20px;
}

.min-temp {
	color: darkblue;
}

.max-temp {
	color: red;
}
  
  

  
  
  
  