{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Current Weather</title>
    <link rel="stylesheet" href="{% static 'style_current_weather.css' %}">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url("{% static 'bluesky3.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="weather-container">
        <div class="weather-card-now">
            <h2>The weather now</h2>
            <div class="weather-status-pic">
                {% if status == 'few clouds' %}
                    <img src="{% static 'someclouds.jpg' %}" class="status-img">
                {% endif %}
                <div class="temp-rn">{{ current_temp }} °C</div>
            </div>
            <div class="weather-word">{{status}}</div>
            <div class = "weather-word">
               Feels like {{temp_feels_like}} °C
            </div>
            <div class="weather-humidity">
                <img src="{% static 'waterdrop.jpg' %}" class="humidity-picture">
            </div>
          </div>

        <div class="weather-card">
            <h2>Today</h2>
            <p>Temperature: {{ today_weather.temperature }}°C</p>
            <p>Feels Like: {{ today_weather.feels_like }}°C</p>
            <p>Humidity: {{ today_weather.humidity }}%</p>
        </div>

        <div class="weather-card">
            <h2>Tomorrow</h2>
            <p>Temperature: {{ tomorrow_weather.temperature }}°C</p>
            <p>Feels Like: {{ tomorrow_weather.feels_like }}°C</p>
            <p>Humidity: {{ tomorrow_weather.humidity }}%</p>
        </div>

        <div class="weather-card-the-day-after-tomorrow">
            <h2 class = "day-after-tomorrow">Day After Tomorrow</h2>
            <p>Temperature: {{ day_after_tomorrow_weather.temperature }}°C</p>
            <p>Feels Like: {{ day_after_tomorrow_weather.feels_like }}°C</p>
            <p>Humidity: {{ day_after_tomorrow_weather.humidity }}%</p>
        </div>
    </div>
</body>
</html>